@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	margin:20px;
	background-color:#C6CBE1;
}

i{
	position:relative;
	font-size:18px;
	font-weight:bold;
	color:#003;
	margin:10px;
}

#plane{
	position:relative;
	width:500px;
	height:500px;
	box-shadow:5px 5px 10px black;
	background-color:white;
	cursor:crosshair;
}

#choose_color{
	position:relative;
	width:200px;
	height:50px;
	margin:20px 0;
	border:1px solid black;
	background-color:#CCC;
}

#choose_color i{
	position:relative;
	margin:15px 20px;
	float:left;
}

#choose_color input{
	position:relative;
	float:left;
	margin:15px 20px;
	cursor:pointer;
}

#author{
	position:relative;
	width:auto;
	max-width:460px;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	border:2px solid #5C5134;
	background-color:#FFC;
	padding:20px;
}
